<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://raw.githubusercontent.com/wenkyzhang/myfileserver/master/songcaige.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://raw.githubusercontent.com/wenkyzhang/myfileserver/master/songcaige.png</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.songcaige.app</string>
               <key>bundle-version</key>
               <string>1.0.4</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>送菜哥服务商专用APP，实现快速管理送菜哥商品信息和订单信息.</string>
               <key>title</key>
               <string>菜管家</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
